@page
@model RazorPagesMovie.Pages.IndexModel

@{
    ViewData["Title"] = "Movie Index";
}

<h1 class="display-4 text-center">Movie Index</h1>

<div class="text-right mb-3">
    <a asp-page="Create" class="btn btn-primary">Create New Movie</a>
</div>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Movie[0].Title)</th>
            <th>@Html.DisplayNameFor(model => model.Movie[0].ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Movie[0].Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Movie[0].Price)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
